@import '../App/App.scss';

.projects {
    display: flex;
    flex-direction: column;
}

.project-list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.projects h1 {
    color: $TextColor;
    font-weight: bold;
}

#projects-header {
    font-size: 35px;
    padding: 30px 0px;
}

@media screen and (max-width: 977px) {
    .project-list {
        flex-direction: column;
    }
  }