body::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

body::-webkit-scrollbar-thumb {
  background: #16262c;
}

body::-webkit-scrollbar-track {
  background: #1e3741;
}

body {
  scrollbar-face-color: #16262c;
  scrollbar-track-color: #1e3741;
}

.app {
  text-align: center;
  background-color: #1e3741;
  font-size: calc(10px + 2vmin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.about-section {
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.about-section h1 {
  font-size: 40px;
  font-weight: bold;
}

.about-section h1, .about-section p {
  color: white;
  padding: 20px 80px 20px 80px;
}

.about-section img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.greeting {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: #16262c;
  height: 100vh;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.greeting p {
  opacity: 0.9;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 24px;
}

.about-image {
  width: 50%;
  height: 100vh;
  z-index: 10;
}

.resume {
  border: 1px solid black;
  border-radius: 5%;
  z-index: 100;
  background-color: #16262c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.resume:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 730px) {
  .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .about-image, .greeting {
    width: 100%;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-radius: 25px;
  max-height: 300px;
  max-width: 350px;
  min-height: 300px;
  min-width: 350px;
  margin: 20px 20px;
  border: 3px solid black;
  overflow: hidden;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.project h1 {
  font-size: 100%;
  font-weight: bold;
  padding: 12px 0px 2px 0px;
}

.project h3 {
  display: inline-block;
  font-size: 80%;
  padding: 10px;
  letter-spacing: 2.5px;
}

.project:hover img {
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.project:hover .project-description {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 0.6);
}

.img-container {
  position: relative;
  height: 225px;
  overflow: hidden;
  background-color: #1e495a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-container .project-description {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 18px;
  opacity: 0;
  letter-spacing: 2px;
}

.img-container .project-description p {
  margin: 35px;
}

.project-info {
  height: 81px;
  width: 100%;
  font-size: 20px;
  background-color: #1e495a;
  border-radius: 0% 0% 23px 23px;
}
/*# sourceMappingURL=project.css.map */