@import '../App/App.scss';

html {
    scroll-behavior: smooth;
  }

nav {
    position: fixed;
    background-color: black;
    width: 100vw;
    min-height: 80px;
    font-family: 'comfortaabold',Arial, Helvetica, sans-serif;
    font-size: 20px;
    transition: top 0.6s;
    top: 0;
    opacity: 0.8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}

.nav-bar {
    margin-right: 40px;
    @include flexCenter(row);

    img {
        height: 20px;
        padding: 3px;
        background-color: white;
        border-radius: 40%;
    }

    div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

nav li {
    padding: 20px 20px 20px 10px;
    font-size: 22px;
}

.underbar{
    right: 330px;
    top: 60px;
    height: 5px;
    background: rgba(100,100,200,0);
    position: absolute;
    transition: 0.5s ease;
  }

.nav-bar a {
    color: $TextColor;
    text-decoration: none;

    &:hover{
        text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 1px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);
      }
      &:nth-of-type(1):hover ~ .underbar{
        right: 299px;
        top: 60px;
        width: 77px;
        height: 1px;
        background: rgba(150,250,250,0.5);
        box-shadow: 0 0 10px rgba(70,250,250,1);
      }
      &:nth-of-type(2):hover ~ .underbar{
        right: 180px;
        top: 60px;
        width: 95px;
        height: 1px;
        background: rgba(150,250,250,0.5);
        box-shadow: 0 0 10px rgba(70,250,250,1);
      }
      &:nth-of-type(3):hover ~ .underbar{
        right: 55px;
        top: 60px;
        width: 100px;
        height: 1px;
        background: rgba(150,250,250,0.5);
        box-shadow: 0 0 10px rgba(70,250,250,1);
      }
      cursor: pointer;
    }



#logo {
    left: 20px;
    position: absolute;
    text-align: center;

    li {
        font-size: 25px;
        letter-spacing: 8px;
        color: $TextColor;
        
    }
}

@media screen and (max-width: 650px) {
    #logo {
        position: relative;
        
    }
    .nav-bar {
        flex-direction: column;
        margin: auto; 
    }
    li{
        padding:15px ;
    }

    a {
        &:hover {
            background: none;   
        }
    }

    .underbar {
        visibility: hidden;
    }
}


