@import '../App/App.scss';

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

form {
    background-color: rgb(30, 73, 90);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    border-radius: 5%;
    color: white;
    max-width: 400px;
    min-width: 300px;
    margin: auto;

    .form-control {
        border-radius: 6px;
    
        /* Hard "outline" with box-shadow: */
        &:focus {
            box-shadow: 0 0 0 2pt $FirstColor;
        }

    }

    h1 {
        
        font-weight: bold;
        padding: 30px 0px 0px 0px;
        letter-spacing: 3px;
    }

    button {
        background-color: $FirstColor;
        color: $TextColor;
        border: 1px solid black;
        border-radius: 5%;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: bold;
      
        &:hover {
          background-color: white;
          color: black;
        }
      }
}

.form-control {
    width: 70%;
}

button {
    margin:10% 30%;
    cursor: pointer;
}



