.app {
  text-align: center;
  background-color: #1e3741;
  font-size: calc(10px + 2vmin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.about-section {
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.about-section h1 {
  font-size: 40px;
  font-weight: bold;
}

.about-section h1, .about-section p {
  color: white;
  padding: 10px 100px 20px 100px;
}

.about-section img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.greeting {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: #16262c;
  height: 100vh;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.greeting p {
  font-size: 20px;
  line-height: 23px;
}

.about-image {
  width: 50%;
  height: 100vh;
  z-index: 10;
}

.resume {
  border: 1px solid black;
  border-radius: 5%;
  z-index: 100;
  background-color: #16262c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.resume:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 650px) {
  .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .about-image, .greeting {
    width: 100%;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

form {
  background-color: #1e495a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  border-radius: 5%;
  color: white;
  max-width: 400px;
  min-width: 300px;
  margin: auto;
}

form #message {
  height: 90px;
}

form .form-control {
  border-radius: 6px;
  height: 30px;
  /* Hard "outline" with box-shadow: */
}

form .form-control:focus {
  -webkit-box-shadow: 0 0 0 1pt white;
          box-shadow: 0 0 0 1pt white;
}

form h1 {
  font-weight: bold;
  padding: 30px 0px 0px 0px;
  letter-spacing: 3px;
}

form p {
  font-size: 15px;
  padding: 10px 0px;
  text-decoration: underline;
}

form button {
  background-color: #1e3741;
  color: white;
  border: 1px solid black;
  border-radius: 5%;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

form button:hover {
  background-color: white;
  color: black;
}

.form-control {
  width: 70%;
}

button {
  margin: 5% 30%;
  cursor: pointer;
}
/*# sourceMappingURL=contactForm.css.map */