@font-face {
  font-family: 'comfortaaregular';
  src: url("../Fonts/comfortaa-regular-webfont.woff2") format("woff2"), url("../Fonts/comfortaa-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'comfortaalight';
  src: url("../Fonts/comfortaa-light-webfont.woff2") format("woff2"), url("../Fonts/comfortaa-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'comfortaabold';
  src: url("../Fonts/comfortaa-bold-webfont.woff2") format("woff2"), url("../Fonts/comfortaa-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

body::-webkit-scrollbar-thumb {
  background: #16262c;
}

body::-webkit-scrollbar-track {
  background: #1e3741;
}

body {
  scrollbar-face-color: #16262c;
  scrollbar-track-color: #1e3741;
}

.app {
  text-align: center;
  background-color: #1e3741;
  font-size: calc(10px + 2vmin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.about-section {
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.about-section h1 {
  font-size: 40px;
  font-weight: bold;
}

.about-section h1, .about-section p {
  color: white;
  padding: 20px 80px 20px 80px;
}

.about-section img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.greeting {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: #16262c;
  height: 100vh;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.greeting h1 {
  font-family: 'comfortaabold', Arial, Helvetica, sans-serif;
  font-size: 180%;
}

.greeting p {
  opacity: 0.9;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 35px;
  max-width: 650px;
  font-family: 'Neucha', cursive;
}

.about-image {
  width: 50%;
  height: 100vh;
  z-index: 10;
}

#resume {
  border: 1px solid white;
  border-radius: 5%;
  z-index: 100;
  background-color: #16262c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Abel', sans-serif;
  z-index: 999;
}

#resume:hover {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 730px) {
  .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .about-image, .greeting {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .greeting p {
    font-size: 15px;
    line-height: 24px;
  }
  #resume {
    padding: 10px 40px 10px 40px;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

form {
  background-color: #41a1c7;
  position: fixed;
  top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  border-radius: 5%;
  color: white;
  max-width: 400px;
  min-width: 300px;
  margin: auto;
  z-index: 1000;
  border: 1px solid black;
}

form #message {
  height: 90px;
}

form .form-control {
  border-radius: 6px;
  height: 30px;
  /* Hard "outline" with box-shadow: */
}

form .form-control:focus {
  -webkit-box-shadow: 0 0 0 1pt white;
          box-shadow: 0 0 0 1pt white;
}

form h1 {
  font-weight: bold;
  padding: 30px 0px 0px 0px;
  letter-spacing: 3px;
}

form .close-button {
  position: absolute;
  top: 13px;
  right: 18px;
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 20px;
  height: 20px;
}

form .close-button:hover {
  -webkit-filter: invert(0.8);
          filter: invert(0.8);
}

form p {
  font-size: 15px;
  padding: 10px 0px;
  text-decoration: underline;
}

form button {
  background-color: #1e3741;
  color: white;
  border: 1px solid black;
  border-radius: 5%;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

form button:hover {
  background-color: white;
  color: black;
}

.psuedo-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #16262c;
  opacity: 0.8;
  z-index: -1;
}

.form-control {
  width: 70%;
}

button {
  margin: 5% 30%;
  cursor: pointer;
}
/*# sourceMappingURL=contactForm.css.map */