@import '../App/App.scss';

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

form {
    background-color: rgb(30, 73, 90);
    position: fixed;
    top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    border-radius: 5%;
    color: white;
    max-width: 400px;
    min-width: 300px;
    margin: auto;
    z-index: 1000;

    #message {
        height: 90px;
    }

    .form-control {
        border-radius: 6px;
        height: 30px;
    
        /* Hard "outline" with box-shadow: */
        &:focus {
            box-shadow: 0 0 0 1pt white;
        }
    }

    h1 { 
        font-weight: bold;
        padding: 30px 0px 0px 0px;
        letter-spacing: 3px;
    }

    .close-button {
        position: absolute;
        top: 13px;
        right: 18px;
        filter: invert(1);
        width: 20px;
        height: 20px;

        &:hover {
            filter: invert(0.8);
        }

    }


    p {
        font-size: 15px;
        padding: 10px 0px;
        text-decoration: underline;
    }

    button {
        background-color: $FirstColor;
        color: $TextColor;
        border: 1px solid black;
        border-radius: 5%;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: bold;
      
        &:hover {
          background-color: white;
          color: black;
        }
      }
}

.form-control {
    width: 70%;
}

button {
    margin:5% 30%;
    cursor: pointer;
}



