@font-face {
  font-family: 'comfortaaregular';
  src: url("../Fonts/comfortaa-regular-webfont.woff2") format("woff2"), url("../Fonts/comfortaa-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'comfortaalight';
  src: url("../Fonts/comfortaa-light-webfont.woff2") format("woff2"), url("../Fonts/comfortaa-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'comfortaabold';
  src: url("../Fonts/comfortaa-bold-webfont.woff2") format("woff2"), url("../Fonts/comfortaa-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

body::-webkit-scrollbar-thumb {
  background: #16262c;
}

body::-webkit-scrollbar-track {
  background: #1e3741;
}

body {
  scrollbar-face-color: #16262c;
  scrollbar-track-color: #1e3741;
}

.app {
  text-align: center;
  background-color: #1e3741;
  font-size: calc(10px + 2vmin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.about-section {
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.about-section h1 {
  font-size: 40px;
  font-weight: bold;
}

.about-section h1, .about-section p {
  color: white;
  padding: 20px 80px 20px 80px;
}

.about-section img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.greeting {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: #16262c;
  height: 100vh;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.greeting h1 {
  font-family: 'comfortaabold', Arial, Helvetica, sans-serif;
  font-size: 180%;
}

.greeting p {
  opacity: 0.9;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 35px;
  font-family: 'Neucha', cursive;
}

.about-image {
  width: 50%;
  height: 100vh;
  z-index: 10;
}

#resume {
  border: 1px solid white;
  border-radius: 5%;
  z-index: 100;
  background-color: #16262c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Abel', sans-serif;
  z-index: 999;
}

#resume:hover {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 730px) {
  .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .about-image, .greeting {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .greeting p {
    font-size: 15px;
    line-height: 24px;
  }
  #resume {
    padding: 10px 40px 10px 40px;
  }
}

.skills {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 20px 0px;
}

.skill-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 300px;
  max-width: 350px;
  min-height: 300px;
  min-width: 350px;
  margin: 20px 20px;
  color: white;
}

.skill-set h2 {
  margin: 20px 0px;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 120%;
  font-family: 'Abel', sans-serif;
}

.skill-set li {
  font-family: 'Abel', sans-serif;
  margin: 10px 0px;
  font-size: 80%;
  list-style: disc;
  list-style-position: inside;
  letter-spacing: 3px;
}

.skill-set img {
  max-width: 90px;
  -webkit-filter: invert(10);
          filter: invert(10);
}

.skill-set img:hover {
  /* on hover - scale to this x,y size */
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  /* property values: name, duration, iteration, timing-function */
  -webkit-animation: jiggle 0.3s ease-out;
          animation: jiggle 0.3s ease-out;
}

@-webkit-keyframes jiggle {
  /* start at 0deg and this scale size.
               scale size is repeated here to maintain smooth scaling */
  0% {
    -webkit-transform: rotate(0deg) scale(1.15, 1.15);
            transform: rotate(0deg) scale(1.15, 1.15);
  }
  /* midway rotate 2deg right */
  30% {
    -webkit-transform: rotate(2deg) scale(1.15, 1.15);
            transform: rotate(2deg) scale(1.15, 1.15);
  }
  /* end rotate -2deg left */
  70% {
    -webkit-transform: rotate(-2deg) scale(1.15, 1.15);
            transform: rotate(-2deg) scale(1.15, 1.15);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1.15, 1.15);
            transform: rotate(0deg) scale(1.15, 1.15);
  }
}

@keyframes jiggle {
  /* start at 0deg and this scale size.
               scale size is repeated here to maintain smooth scaling */
  0% {
    -webkit-transform: rotate(0deg) scale(1.15, 1.15);
            transform: rotate(0deg) scale(1.15, 1.15);
  }
  /* midway rotate 2deg right */
  30% {
    -webkit-transform: rotate(2deg) scale(1.15, 1.15);
            transform: rotate(2deg) scale(1.15, 1.15);
  }
  /* end rotate -2deg left */
  70% {
    -webkit-transform: rotate(-2deg) scale(1.15, 1.15);
            transform: rotate(-2deg) scale(1.15, 1.15);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1.15, 1.15);
            transform: rotate(0deg) scale(1.15, 1.15);
  }
}

@media screen and (max-width: 977px) {
  .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skill-set li {
    padding: 0px;
  }
  .skill-set {
    min-height: 250px;
    min-width: 300px;
    margin: 40px 0px;
  }
}
/*# sourceMappingURL=skills.css.map */