@import '../App/App.scss';

.contact {
    background-color: $SecColor;
    width: 100%;
    margin: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-info {
    padding: 60px 0px 0px 0px;
    max-width: 650px;
    min-width: 300px;
    color: $TextColor;
    margin: auto;
    line-height: 40px;

    p {
        font-size: 18px;
        margin-bottom: 20px;
        letter-spacing: 2px;
        word-spacing: 2px;
    }
    
    button {
        margin: 20px 50px;
    }
}

button {
    padding: 15px 25px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    border: 1px solid white;
    border-radius: 150px;
    z-index: 100;
    background-color: $SecColor;
    color: white;
    
  
    &:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }
}

hr {
    border-top: 1px dashed whitesmoke;
    width: 95%;

}



@media screen and (max-width: 970px){
    

    form {
        margin: 0px 0px 0px 0px;
        min-width: 350px;
        
    }

    .contact-info {
        align-self: center;
        margin-top: 20px;
        
        
    }
}

@media screen and (max-width: 1100px){
    .contact{
        justify-content: center;
    }
}

@media screen and (max-width: 900px){
    
}

