.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
}

.contact-info {
    align-self: flex-end;
    margin-right: 500px;
    color: white;
}

.contact-info p {
    font-size: 20px;
    text-align-last: left;
    margin-bottom: 30px;
}

@media screen and (max-width: 970px){
    .contact{
        flex-direction: column-reverse;
    }

    form{
        margin: 0px 0px 0px 0px;
        min-width: 350px;
        
    }

    .contact-info {
        align-self: center;
        margin-top: 20px;
        margin-right: 200px;
    }
}
