form{
    background-color: rgb(30, 73, 90);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 34%;
    margin-top: 50px;
    border-radius: 5%;
    margin-bottom: 20px;
    color: white;
    min-width: 200px;
}


.form-control{
    width: 70%;
    margin: 8px;
}

h1{
    padding: 6% 0%;
}

button{
    margin:10% 30%;
    cursor: pointer;
}



