
$FirstColor: rgb(30, 55, 65);
$SecColor: rgb(22, 38, 44);
$TextColor: white;

@mixin flexCenter ($flexDirection) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: $flexDirection;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

body {
  @include scrollbars(15px, $SecColor, $FirstColor);
}

.app {
  text-align: center;
  background-color: $FirstColor;
  font-size: calc(10px + 2vmin);

  @include flexCenter(column);
}

.about-section { 
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));

  @include flexCenter(row);

  h1 {
    font-size: 40px;
    font-weight: bold;
  }

  h1, p {
    color: $TextColor;
    padding: 20px 80px 20px 80px;
  }

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

}

.greeting {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: $SecColor;
  height: 100vh;
  min-width: 200px;

  @include flexCenter(column);

  p {
    opacity: 0.9;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 24px ;
  }
}

.about-image {
  width: 50%;
  height: 100vh;
  z-index: 10;
}

.resume {
  border: 1px solid black;
  border-radius: 5%;
  z-index: 100;
  background-color: $SecColor;
  transition: 0.5s;

  &:hover {
    background-color: white;
    color: black;
  }
}


@media screen and (max-width: 730px){
  .about-section {
    flex-flow: column;
  }
  .about-image, .greeting {
    width: 100%;
  }

}









