
$FirstColor: rgb(30, 55, 65);
$SecColor: rgb(22, 38, 44);
$TextColor: white;

@font-face {
  font-family: 'comfortaaregular';
  src: url('../Fonts/comfortaa-regular-webfont.woff2') format('woff2'),
       url('../Fonts/comfortaa-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'comfortaalight';
  src: url('../Fonts/comfortaa-light-webfont.woff2') format('woff2'),
       url('../Fonts/comfortaa-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'comfortaabold';
  src: url('../Fonts/comfortaa-bold-webfont.woff2') format('woff2'),
       url('../Fonts/comfortaa-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@mixin flexCenter ($flexDirection) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: $flexDirection;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}


body {
  @include scrollbars(15px, $SecColor, $FirstColor);
}

.app {
  text-align: center;
  background-color: $FirstColor;
  font-size: calc(10px + 2vmin);

  @include flexCenter(column);
}


.about-section { 
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));

  @include flexCenter(row);

  h1 {
    font-size: 40px;
    font-weight: bold;
  }

  h1, p {
    color: $TextColor;
    padding: 20px 80px 20px 80px;
  }

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  #resume p {
    padding: 10px 40px 10px 40px;
  }

}

.greeting {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: $SecColor;
  height: 100vh;
  min-width: 200px;
  

  @include flexCenter(column);

  h1 {
    font-family: 'comfortaabold', Arial, Helvetica, sans-serif;
    font-size: 180%;
  }

  p {
    opacity: 0.9;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 35px;
    max-width: 650px;
    font-family: 'Neucha', cursive;
  }
}

.about-image {
  width: 50%;
  height: 100vh;
  z-index: 10;
}

#resume {
  border: 1px solid white;
  border-radius: 5%;
  z-index: 100;
  background-color: $SecColor;
  transition: 0.3s;
  font-family: 'Abel', sans-serif;
  z-index: 999;

  &:hover {
    background-color: white;
    color: black;
  }

}

a {
  text-decoration: none;
  color: $TextColor;
}




@media screen and (max-width: 730px){
  .about-section {
    flex-flow: column;
  }
  .about-image, .greeting {
    width: 100%;
  }

}

@media screen and (max-width: 500px){
  .greeting p {
    font-size: 15px;
    line-height: 24px;
  }

  #resume {
    padding: 10px 40px 10px 40px;
  }

}









