@import '../App/App.scss';

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    background-color: $SecColor;
    color: $TextColor;
    min-height: 200px;
    width: 100%;

    h1 {
        letter-spacing: 4px;
    }

    p {
        font-size: 18px;
        margin: 20px 0px;
    }

    img {
        width: 50px;
        padding: 30px 20px;
        z-index: 10px;
        
    }
}

.social-group {
    display: flex;
    align-items: center;
     
    p {
        margin: 10px 20px;
    }

    #github-icon {
        filter: brightness(135%);

        &:hover {
            filter: invert(10);
        }

    }

    .icon {
        &:hover {
            filter: invert(10);
        }
    }
}

@media screen and (max-width: 880px) {
    footer {
        flex-direction: column;
    }

}