body::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

body::-webkit-scrollbar-thumb {
  background: #16262c;
}

body::-webkit-scrollbar-track {
  background: #1e3741;
}

body {
  scrollbar-face-color: #16262c;
  scrollbar-track-color: #1e3741;
}

.app {
  text-align: center;
  background-color: #1e3741;
  font-size: calc(10px + 2vmin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.about-section {
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.about-section h1 {
  font-size: 40px;
  font-weight: bold;
}

.about-section h1, .about-section p {
  color: white;
  padding: 20px 80px 20px 80px;
}

.about-section img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.greeting {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: #16262c;
  height: 100vh;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.greeting p {
  opacity: 0.9;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 24px;
}

.about-image {
  width: 50%;
  height: 100vh;
  z-index: 10;
}

.resume {
  border: 1px solid black;
  border-radius: 5%;
  z-index: 100;
  background-color: #16262c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.resume:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 730px) {
  .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .about-image, .greeting {
    width: 100%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #16262c;
  color: white;
  min-height: 200px;
  width: 100%;
}

footer h1 {
  letter-spacing: 4px;
}

footer p {
  font-size: 18px;
  margin: 20px 0px;
}

footer img {
  width: 50px;
  padding: 30px 20px;
  z-index: 10px;
}

.social-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-group p {
  margin: 10px 20px;
}

.social-group .icon:hover {
  -webkit-filter: invert(10);
          filter: invert(10);
}

@media screen and (max-width: 880px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=footer.css.map */