@import '../App/App.scss';

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;

    
    background-color: $SecColor;
    color: $TextColor;
    min-height: 100px;
    width: 100%;

    p {
        margin: 10px 40px;
        font-size: 18px;
    }

    img {
        width: 50px;
        padding: 0px 5px;
        z-index: 10px;
        
    }
}

.social-group {
    display: flex;
    align-items: center;
    margin: 10px 100px;
}

@media screen and (max-width: 880px) {
    footer {
        flex-direction: column;
    }

}