@import '../App/App.scss';

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;

    
    background-color: $SecColor;
    color: $TextColor;
    min-height: 100px;
    width: 100%;

    p{
        margin: 30px 50px;
    }
}

.social-group {
    display: flex;
    margin: 30px 100px;
}


.social-link {
    display:flex;
    background-color: #000;
    border-radius: 50%;
    height: 1.875rem;
    position: relative;
    text-align: center;
    margin: 0px 4px;
    width: 1.875rem;
    padding: 5px;
    cursor: pointer;
}

@media screen and (max-width: 880px) {
    footer {
        flex-direction: column;
    }

}