nav {
    position: fixed;
    background-color: black;
    width: 100%;
    min-height: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    transition: top 0.6s;
    top: 0;
    opacity: 0.8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}

.nav-bar, .nav-bar div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.nav-bar {
    margin-right: 40px;
    
}

.nav-bar img {
    height: 20px;
    padding: 3px;
    background-color: white;
    border-radius: 40%;
}

li {
    padding: 20px 20px 20px 10px;
}

a {
    color: white;
    text-decoration: none;

    
}

a:hover {
    color: lightgrey;
}

#logo {
    color: white;
    left: 20px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    letter-spacing: 8px;
}

@media screen and (max-width: 650px) {
    #logo {
        position: relative;
        
        
    }
    .nav-bar {
        flex-direction: column;
        margin: auto; 
    }
    li{
        padding:15px ;
    }
}


